doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='bootstrap/css/bootstrap-responsive.css')
	body
		block content
	
	block js
	