extends layout

block css
	link(rel='stylesheet', href='stylesheets/BBTable.css')

block content
	div.container
		h1 Backbone table
		div.row-fluid
			div.span8
				div#table-container

block js
	script(type='text/javascript', src='javascripts/jquery.min.js')
	script(type='text/javascript', src='bootstrap/js/bootstrap.js')
	script(type='text/javascript', src='javascripts/json2.js')
	script(type='text/javascript', src='javascripts/underscore.js')
	script(type='text/javascript', src='javascripts/backbone-min.js')
	script(type='text/javascript', src='javascripts/BBTable.js')
	script(type='text/javascript')
		$('#table-container').addClass('backbone-table-container');

		var CityModel = Backbone.Model.extend({
			idAttribute: "Zipcode"
		});
		var ExampleCollection = BBTable.PageableCollection.extend({url: '/collection/', model: CityModel});
		
		var collection = new ExampleCollection({});
		
		var columns = [
			{
				'key': 'Zipcode',
				'label': 'Zipcode',
				'sortable': true
			},
			{
				'key': 'County',
				'label': 'County',
				'sortable': true
			},
			{
				'key': 'State',
				'label': 'State',
				'sortable': true
			},
			{
				'key': 'City',
				'label': 'City',
				'sortable': true
			},
			{
				'key': 'Longitude',
				'label': 'Longitude',
				'sortable': true
			},
			{
				'key': 'Latitude',
				'label': 'Latitude',
				'sortable': true
			}
		];
		
		var paginatorTop = new BBTable.PaginatorView({model: collection.paginationModel});
		var paginatorBottom = new BBTable.PaginatorView({model: collection.paginationModel});
		
		$('#table-container').append(paginatorTop.render().el);	
		
		$('#table-container').append(
			new BBTable.Table({collection: collection, columns: columns}).render().el
		);
		
		$('#table-container').append(paginatorBottom.render().el);	
		
		collection.fetchCurrentPage();